@layer utilities {
	.visually-hidden {
		border: 0;
		clip-path: inset(50%);
		height: 1px;
		overflow: hidden;
		margin: -1px;
		padding: 0;
		position: absolute;
		width: 1px;
		white-space: nowrap;
	}
}
